.page-header {
    .page-header-breadcrumb {
        background-color: #fff;
        min-height: 80px;
        .page-header-breadcrumb-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .page-breadcrumbs {
                flex: 0 1 75%;
                padding: 20px 0;
                -webkit-box-flex: 0;
                min-width: 0;
            }
            .page-header-extra {
                flex: 0 0 auto;
                padding-left: 10px;
            }
        }
    }
    .page-header-banner {
        box-sizing: border-box;
        background: linear-gradient(140deg, $primary 15%, $primary-gradient);
        color: #fff;
        .page-header-banner-content {
            padding: 20px 0;
        }
    }
}
.mobile {
    .page-header {
        .page-header-breadcrumb {
            .page-header-breadcrumb-content {
                flex-wrap: wrap;
                .page-breadcrumbs {
                    padding: 10px 0;
                    -webkit-box-flex: 0;
                    flex: 0 1 100%;
                }
                .page-header-extra {
                    width: 100%;
                    padding-left: 0;
                    margin-bottom: 10px;
                }
            }
        }
    }
}
